<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/counter.css" />
    <script type = "text/javascript" src="../scripts/counter.js"></script>
  </head>
  <body>
    <div id="popup-content">
      <div class="counter">
        <h2 id="nbEh_Text">Nombre de "Eh"</h2>
        <h3 id="nbEh">0</h3>
        <button id="nbEh_Button" class="inc_button" >+</button>
      </div>

      <button id="reset_Button" class="reinit">Reinitialize</button>
    </div>
  </body>
</html>